@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: -350px;
    height: 100%;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlaybar {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    /* z-index: 998; */
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlaybar.active {
    display: block;
    opacity: 0.5;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
    text-align: center;
    cursor: pointer;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    text-align: center;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.share {
    background: #fff;
    color: #7386D5;
}

a.email,
a.email:hover {
    background: #6d7fcc !important;
    color: #fff !important;
    margin-left: 10px;
    margin-right: 10px;
}


.player, video {
  width: 100%;
  height: 100%;
  position: relative;
}

#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
}


/* The Close Button */
.close {
    color: #565656;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.jumbo-wrap{
  height: 100%;
  width: 100%;
  margin-top:100px;
}

.jumbotron{
  width: 60% !important;
  margin: auto;
}

.jumbotron>a{
  border-left: 10px;
  border-right: 10px;
}


.jumbotron p{
  padding-top: 20px;
  text-align: center;
}

.jumbo-content {
  margin: auto;
  width: 50%;
  height: 50%;
}

h3 {
  text-align: center;
}

img {
    border-radius: 8px;
    width: 300px;
    margin: auto;
    display: block;
}

#productImgSide{
    width: 200px;
}
#prompt {
  z-index: 999;
    width: 30px;
    height: 30px;
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: prompt_animation;
    animation-duration: 2s;
    display: none;
    position: absolute;
    left: 95%;
    top: 6%;
    cursor: pointer;
}

 /*Safari 4.0 - 8.0*/
@-webkit-keyframes prompt_animation {
    0% {opacity: 0.5;}
    75% {opacity: 0.5;}
    100% {opacity: 0;}
}

 /*Standard syntax */
@keyframes prompt_animation {
    0% {opacity: 0.5;}
    75% {opacity: 0.5;}
    100% {opacity: 0;}
}

video::-webkit-media-controls-overlay-play-button {
  display: none!important;
  /* animation-duration: 0.1s!important; */
}

#productTitleSide{
  cursor: pointer;
}
